* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

button {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

/* wrappers */

.wrapper-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: auto;
    width: 100%;
    background-color: #f5f5f6;
}

/* container */

.container {
    padding-top: 1rem;
}

.container,
.container-scroll-h,
.container-settings {
    display: flex;
    align-items: center;
    width: 100%;
}

/* scrollable container */

.container-scroll-h {
    justify-content: flex-start;
    flex: auto;
    gap: 1rem;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-left: 1rem;
}

.container-scroll-h::-webkit-scrollbar {
    display: none;
}

.scroll-item {
    flex: 0 0 auto;
}

.scroll-item button {
    background-color: #ffd1dc;
    border-radius: 1rem;
    padding: 0.33rem 0.66rem;
}

/* settings container */

.container-settings {
    justify-content: center;
    display: flex;
    max-width: 2.2rem;
}

.button-settings {
    padding: 1rem;
    border-radius: 50%;
    transition: 0.2s;
}

.button-settings:active {
    background-color: #ffd1dc;
}

.hamburger-menu-dots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.15rem;
    height: 0;
    width: 0;
}

.hamburger-dots {
    border: 0.15rem solid #b8b8b8;
    border-radius: 50%;
}

/* main to do list */

.main {
    flex: auto;
}